<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.kidusmt.adegareporter">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name=".util.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- THE WELCOME ACTIVITY SHOULD BE FULLSCREEN -->
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:theme="@style/AppTheme.no_toolbar.fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- NO TOOLBAR BECAUSE THERE IS NO -->
        <activity
            android:name=".ui.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.post.PostActivity"
            android:theme="@style/AppTheme.no_toolbar" />
        <activity android:name=".ui.detail.DetailAccidentActivity"></activity>
    </application>

</manifest>